/*resume-layout*/
.resume-layout{
    display: flex;
    max-width: 800px;
    min-height: 297mm;
    margin: 40px auto;
    background-color: #8b2525;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/*header-container */
.header-container{
    width: 30%;
    height: 100%;
}
/*header-container box 1 */
.header-container .box1{
    background-color: #06445e;
    padding: 20px;
    text-align: center;
    color: #fff;
}
.header-container .box1 .contents{
    margin-top: 20px;
    margin-bottom: 20px;
}
.header-container .box1 .contents img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    object-fit: cover;
}

/*header-container box 2 */
.header-container .box2{
    background-color: #0c7cac;
    padding: 20px;
    text-align: left;
    color: #fff;
}
.header-container .box2 .contents{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

/*header-container box 3 */
.header-container .box3{
    background-color: #06445e;
    padding: 20px;
    text-align: left;
    color: #fff;
}
.header-container .box3 .contents{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

/*header-container box 4 */
.header-container .box4{
    background-color: #0c7cac;
    padding: 20px;
    text-align: left;
    color: #fff;
}
.header-container .box4 .contents{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

/*body-container */
.body-container{ 
    flex: 1;
    padding: 20px;
    
}