/*for printing*/
@media print {
    html, body {
        background-color: #ffffff !important;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
    .resume-layout {
        width: 100% !important;
        max-width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        box-shadow: none !important;
    }
    @page {
        size: auto;
        margin: 0mm;
    }
    .header-container{
        min-height: 100vh;
    }
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem;
    margin: 0;
    padding: 0;
}

/*resume-layout*/
.resume-layout{
    display: flex;
    max-width: 800px;
    min-height: 297mm;
    margin: 40px auto;
    background-color: #f8f9fa;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/*header*/
.header-container{
    display: flex;
    flex-direction: column;
}
.box{
    flex: 1;
    background-color: #eeeeee;
    color: #000000;
    padding: 20px;
    max-width: 100%;
}
.box img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #aaaaaa;
    object-fit: cover;  
    display: block;
    margin: 0 auto 20px;

}
.box h1, .box p, .box a, .box h4{
    word-break: break-word;
    text-align:left;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    margin-bottom: 5px;
    margin-top: 0;
}
.divider{
    background-color: #212529;
    color: #ffffff;
    padding: 5px 30px;
}
.divider h2{
    margin: 0;
}

/*body-content*/
.body-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.body1{
    flex: 1;
    padding: 40px;
}
.horizontal-line{
    height: 1px;
    background-color: #212529;
}